<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCourses</title>

    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/header_style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/page_style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/sidebar_style.css" type="text/css">

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
    <%- include('../partials/header.ejs') %>
<body>
    <div style="height:100%; margin-top: 100px">
        <h1 style="margin-left:80px">Những khóa học của tôi: (<%= numCourse %> kết quả) </h1>

        <% for(var i=0; i < courses.length; i++) { %>
            <hr style="border-top: 1px solid black;">
            <div class="container" style="margin-top:20px; margin-bottom: 20px;">
                <a href="/courses/detail/<%= courses[i].CourseID %>" style="display: block;" > 
                    <div class="row">
                        <div id="cover" class = "col-sm-4">
                            <img src="/images/courses/<%= courses[i].CourseID %>.jpg" style = "width: 300px; height: 200px; object-fit: fill; border: 1px solid black;">
                        </div>

                        <div id="content" class = "col" style="line-height: 3; color:black">
                            <h1><%= courses[i].Name %></h1>
                            <img src="/images/information_icon.png" style="width:30px; height: 30px; object-fit: fill;">
                            <%= courses[i].Description %> <br>
                            <img src="/images/teacher_icon.png" style="width:30px; height: 30px; object-fit: fill;">
                            Giáo viên: <%= courses[i].Teacher %> <br>
                            <img src="/images/learner_icon.png" style="width:30px; height: 30px; object-fit: fill;">
                            Học viên: <%= courses[i].NumberStudent %> <br>
                            
                            <span style="color: rgb(224, 172, 28); font-size: 25px;"> <%= courses[i].Preview %></span>
                            <% for(var j=0, numrate = courses[i].Preview ; j < 5; j++, numrate--) { %>
                                <% if (numrate > 0){ %>
                                    <span class="fa fa-star checked"></span>
                                <%}%>
                                <% if (numrate <= 0) {%>
                                    <span class="fa fa-star"></span>
                                <% } %>
                            <%}%>

                            <span>(<%= courses[i].NumPreview %> lượt bình chọn)</span>
                        </div>

                        <div id="price" class = "col-sm-1 text-right">
                            FREE <br>
                            <% var price = Math.random()*(1000-100) + 100 %>
                            <del>$<%- price.toFixed(2) %> </del>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>

    <div class="pagination d-flex justify-content-center">
        <% var reqPage = curPage - 1 %>
        <% if (reqPage < 1) reqPage = 1%>
        <a href="/profile/my_courses/?page=<%= reqPage %>">&laquo;</a>
        
        <% for (var i=1; i<=numPage; i++) { %>
            <% if (i == curPage){ %> 
                <a href="/profile/my_courses/?page=<%= i %>" class="active"> <%=i%> </a>
            <% } %>
            <% if (i != curPage){ %> 
                <a href="/profile/my_courses/?page=<%= i %>"> <%= i %> </a>
            <% } %>
        <% } %>
        <% var reqPage = curPage + 1 %>
        <% if (reqPage > numPage) reqPage = numPage%>
        <a href="/profile/my_courses/?page=<%= reqPage%>">&raquo;</a>
    </div>

</body>
    <%- include('../partials/footer.ejs') %>
</html>