<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>

    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>
    <!--Pusher-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <!--Include CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/header_style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/detail_course.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">

</head>
<body>
    <%- include('../partials/header.ejs', {auth: auth, user: name}) %>

    <div class="d-flex flex-row">
        <div class="p2 dc_detail">
            <h1 style="font-weight: 700; color:brown"><%= course.Name %></h1>
            <h3 style="font-weight: 700;">Nội dung khóa học:</h3>
            <div class="container" style="border: 1px solid gray; padding: 20px 50px 20px 0px; border-radius: 5px; margin: 10px 0px 10px 0px">
                <div class="container" style="margin-left: 20px;">
                    <% if (course.DetailDescription == null) { %>
                        <p>Giảng viên vẫn chưa thêm thông tin khóa học!</p>
                    <% } else { %>
                        <%- course.DetailDescription %>
                    <% } %>
                </div>
            </div>

            <h3 style="font-weight: 700; margin-top: 50px;">Danh sách bài học:</h3>

            <div class="container">
                <% if (lesson == null) { %>
                    <p>Hiện tại khóa học vẫn chưa có bài giảng nào</p>
                <% } else { %>
                    <h5><%= lesson.length %> lesson 
                        <% if (course.Status == 0) { %>
                            <span class="badge badge-info">UPDATING</span>
                        <% } else { %>
                            <span class="badge badge-success">COMPLETED</span>
                        <% } %>
                    </h5>
                    <div class="lesson_gallery">
                    <% for (var i = 0; i < lesson.length; i++) { %>
                        <div id="lesson"style="background-color: #fbfbf8; padding: 1.6rem 2.4rem; border: 1px solid #dcdacb; border-radius: 5px; margin-bottom: 10px;">
                            <% if (lesson[i].Trailer == 1) { %> 
                                <div  class="container d-flex" >
                                    <a href="<%=lesson[i].Video%>" id="lesson-free" class="mfp-iframe p-2 w-100">
                                        <p style="font-size: 18px;">
                                            <% var check = false; %>
                                            <% if (learn != null) { %> 
                                                <% for (var j = 0; j < learn.length; j++) { %> 
                                                    <% if (learn[j].Lesson == lesson[i].Lesson) { check = true; } %>
                                                <% } %>
                                            <% } %>
                                            <%= lesson[i].Name %>
                                            <i class="fas fa-check" style="color: green"> Free</i>
                                        </p>
                                        <p style="color: green; font-size: 16px;" >
                                            Upload: <%= moment(lesson[i].DateUpload).format('DD-MM-YYYY') %>
                                        </p>
                                    </a>
                                    
                                    <!-- check student learned  -->
                                    <% if (check == false) { %>
                                        <input class="p-2 flex-shrink-1" name="lesson_check" type="checkbox" value="<%= lesson[i].Lesson %>"/>
                                    <% } else {%>
                                        <input checked class="p-2 flex-shrink-1" name="lesson_check" type="checkbox" value="<%= lesson[i].Lesson %>"/>
                                    <% } %>
                                </div>
                            <% } else { %>
                                <div class="hide">
                                    <div class="container d-flex flex-row justify-content-between">
                                        <a href="<%= lesson[i].Video %>" id="lesson-paid" class="mfp-iframe p-2 w-100">
                                            <p style="font-size: 18px;">
                                                <% var check = false; %>
                                                <% if (learn != null) { %> 
                                                    <% for (var j = 0; j < learn.length; j++) { %> 
                                                        <% if (learn[j].Lesson == lesson[i].Lesson) { check = true; } %>
                                                    <% } %>
                                                <% } %>
                                                <%= lesson[i].Name %>
                                            </p>
                                            <p style="color: green; font-size: 16px;" >
                                                Upload: <%= moment(lesson[i].DateUpload).format('DD-MM-YYYY') %>
                                            </p>
                                        </a>

                                        <!-- check student learned  -->
                                        <% if (check == false) { %>
                                            <input class="p-2 flex-shrink-1" name="lesson_check" type="checkbox" value="<%= lesson[i].Lesson %>"/>
                                        <% } else {%>
                                            <input checked class="p-2 flex-shrink-1" name="lesson_check" type="checkbox" value="<%= lesson[i].Lesson %>"/>
                                        <% } %>
                                    </div>
                                </div>
                                
                                <div class="need-to-buy">
                                    <div class="container">
                                        <p>Bạn cần phải mua khóa học để có thể xem bài học này!</p>
                                    </div>
                                </div>

                            <% } %>
                        </div>
                    <% } %>
                    </div>
                <% } %>
            </div>

            <h3 style="font-weight: 700; margin-top: 50px;">Yêu cầu cơ bản:</h3>
            <ul class="dc_ul">
                <li><i class="fas fa-check"></i> Máy vi tính kết nối internet (Windows, Ubuntu hoặc MacOS)</li>
                <li><i class="fas fa-check"></i> Ý thức tự học cao, trách nhiệm cao, kiên trì bền bỉ không ngại cái khó</li>
                <li><i class="fas fa-check"></i> Không được nóng vội, bình tĩnh học, làm bài tập sau mỗi bài học</li>
                <li><i class="fas fa-check"></i> Khi học nếu có khúc mắc hãy hỏi giáo viên giảng bài</li>
                <li><i class="fas fa-check"></i> Bạn không cần biết gì hơn nữa, trong khóa học tôi sẽ chỉ cho bạn những gì bạn cần phải biết</li>
            </ul>

            <h3 style="font-weight: 700; margin-top: 50px;">Các khóa học liên quan: </h3>
            <div class="container d-flex flex-row" style="margin-right:100px; height: fit-content;">
                <% if (relative != null) {%>
                    <% for(var i=0; i < relative.length; i++) { %>
                        <div class="card" style="margin: 10px; text-align: left; border:1px solid black; width: 20%;">
                            <div style="width: 100%; height: 140px">
                                <a href="/courses/detail/<%= relative[i].CourseID %>"><img src="/images/courses/<%= relative[i].CourseID %>.jpg" class="img-fluid mx-auto d-block" style="position:relative; width: fit-content; height: 100%;" alt="img1"></a>
                                <div style="position: absolute; top: 5px; right: 10px;"><span class="badge badge-danger">FREE</span></div>
                            </div>
                            <div class="card-body" style="margin:10px; padding-top: 10px; padding-left: 0px; padding-right: 0px;">
                                <% if (relative[i].Category == 1) { %>
                                    <h5 class="card-title" style="color: black"><%= relative[i].Name %> <br> <span class="badge badge-info">Web</span></h5>
                                <% } %>
                                <% if (relative[i].Category == 2) { %>
                                    <h5 class="card-title" style="color: black"><%= relative[i].Name %> <br> <span class="badge badge-warning">App</span></h5>
                                <% } %>
                                
                                <p style="color:black;"><i class="fas fa-chalkboard-teacher"></i> <%= relative[i].Teacher %>&emsp; &emsp; <i class="fas fa-users"></i> <%= relative[i].NumberStudent %></p>
                                
                                <% for(var j=0; j < Math.round(relative[i].Preview); j++) { %>
                                    <i class="fas fa-star" style="color: orange;"></i>
                                <% } %>
                                <% for(var j=0; j < 5 - Math.round(relative[i].Preview); j++) { %>
                                    <i class="far fa-star" style="color: orange"></i>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>

            <h3 style="font-weight: 700; margin-top: 50px;">Nhận xét - đánh giá:</h3>
            <div class="d-flex flex-row" style="margin: 20px;">
                <div style="width: 70px; height: 70px;">
                    <img src="/images/avatar/avatar.png" style="width: 100%; height: 100%;">
                </div>
                <form action="comment/<%= course.CourseID %>" class="d-flex flex-column align-items-center" method="POST" id="form_comment" style="margin-left: 30px;">
                    <textarea style="height: 100px; border: 1px solid #dcdacb; resize: none; padding: 10px 0 10px 10px;" name="comment" cols="130" placeholder="Nhận xét khóa học ở đây"></textarea>
                    <div class="d-flex flex-row" style="width: 100%; height: 70px; background-color: #f5f6f7;">
                        <div class="range" style="width: fit-content; margin: 15px 0px 0px 15px;">
                            <label for="point" id="score"></label>
                            <input type="range" class="form-range" min="0" max="5" id="point" value="0" name="point" onchange="updateTextInput(this.value);"> 
                            
                        </div>
                        <div class="text-right" style="width: 100%; margin: 20px 15px 0px 0px;">
                            <input class="text-right" type="submit" id="sub_comment" text="Comment" value = 'Comment' style="padding: 5px 20px; background-color: #9cb4d8;">
                        </div>
                    </div>
                </form>
            </div>
            
            <div id="comments" class="container">
                <% if (comment == null) { %> 
                    <hr>
                    <p>Khóa học hiện chưa có đánh giá nào!</p>
                <% } else { %>
                    <% for (var i = 0; i < comment.length; i++) { %> 
                        <hr>
                        <div class = "container">
                            <div class = "row">
                                <div class="col">
                                    <img src="/images/avatar/avatar.png" style="width: 60px; height: 60px; margin-right: 45px;">
                                        <% for(var j=0; j < comment[i].Point; j++) { %>
                                            <i class="fas fa-star" style="color: orange;"></i>
                                        <% } %>
                                        <% for(var j=0; j < 5 - comment[i].Point; j++) { %>
                                            <i class="far fa-star" style="color: black"></i>
                                        <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col" style="font-size: 20px; color: darkcyan; width:120px; width: 1%;"><%= comment[i].Username %></p>
                                <p class="col-9" style="overflow-wrap: break-word;"><%= comment[i].Comment %> </p>
                                <p class="col font-italic"><%= moment(comment[i].Date).format('DD-MM-YYYY') %></p>
                            </div>
                            
                        </div>
                    <% } %>
                <% } %>
            </div>
            
        </div>

        <div class="p2 dc_card card" style="margin: 30px;" >
            <img class="card-img-top dc_img" src="/images/courses/<%= course.CourseID %>.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h1 class="text-danger">Miễn phí</h1>
                <a href="/courses/course/<%= course.CourseID %>/like" id="like"><button class="btn" id="dc_btn_love">Yêu thích</button></a>
                <a href="/courses/course/<%= course.CourseID %>/buy" id="buy"><button class="btn" id="dc_btn_buy">Mua ngay</button></a>
                <p style="margin-top: 20px;"><%= course.Description %></p>

                <% for(var j=0; j < Math.round(course.Preview); j++) { %>
                    <i class="fas fa-star" style="color: orange;"></i>
                <% } %>
                <% for(var j=0; j < 5 - Math.round(course.Preview); j++) { %>
                    <i class="far fa-star" style="color: orange"></i>
                <% } %>
                <span>(<%= course.NumPreview %> ratings)</span>
                <span>, <%= course.NumberStudent %> student</span>

                <p style="font-size: 20px; margin-top: 10px;"><i class="fas fa-chalkboard-teacher"></i> <%= course.Teacher %></p>

                <% if (course.Teacher == name) { %>
                    <a href="/courses/edit">Edit</a>
                    <% } %>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>

    
    <script>
        $('input').on('click', function(){
            $.getJSON('/courses/detail/check/learn?courseid=<%=course.CourseID%>&lessonid=' + $(this).val() + '&status=' + $(this).prop('checked'), function(data) {
            })
        });
    </script>

    <!-- pop up video  -->
    <script>
        $('.lesson_gallery').each(function() { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                gallery: {
                    enabled:true
                }
            });
        });

        $(document).ready(function() {
            $.getJSON('/courses/detail/check/show?courseid=<%= course.CourseID %>', function (data) {
                if (data == 'success') {
                    $('.hide').hide();
                    $('.need-to-buy').show();
                } else {
                    $('.hide').show();
                    $('.need-to-buy').hide();
                }
            });
        });
    </script>

    <script>
        $('#score').text("0 star"); 
        function updateTextInput(val) {
            $('#score').text(val + " star"); 
        }

        $('#like').on('click', function(e) {
            e.preventDefault();
            $.getJSON('/courses/detail/check/is-like?courseid=<%= course.CourseID %>', function (data) {
                if (data == 'success') {
                    alert('Thêm khóa học vào danh sách yêu thích thành công.');
                    window.location.href = "/courses/course/<%= course.CourseID %>/like";
                } else if (data == 'fail') {
                    alert('Khóa học này đã nằm trong danh sách yêu thích.');
                }
            })
        })

        $('#buy').on('click', function(e) {
            e.preventDefault();
            $.getJSON('/courses/detail/check/is-buy?courseid=<%= course.CourseID %>', function (data) {
                if (data == 'success') {
                    alert('Mua khóa học thành công.');
                    window.location.href = "/courses/course/<%= course.CourseID %>/buy";
                } else if (data == 'fail') {
                    alert('Khóa học này đã nằm trong tài khoản của bạn.');
                }
            })
        })

        $('#form_comment').on('submit', function(e) {
            e.preventDefault();
            $.getJSON('/courses/detail/check/is-buy?courseid=<%= course.CourseID %>', function (data) {
                if (data == 'success') {
                    alert('Bạn chưa mua khóa học này, vui lòng mua để tiếp tục.');
                } else if (data == 'fail') {
                    $.getJSON('/courses/detail/check/is-comment?courseid=<%= course.CourseID %>', function (data) {
                        console.log(data);
                        if (data == 'success') {
                            $('#form_comment').off('submit').submit();
                        } else if (data == 'fail') {
                            alert('Bạn đã đánh giá khóa học này rồi!');
                        }
                    });
                }
            });
            
        }) 
    </script>
</body>
</html>