<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM Online Courses</title>

    <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/search_bar.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/slide.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/course.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/header_style.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <style>
        .top_img {
            width: 500px;
            height: 500px;
        }
        .slide_img {
            width: 300px;
            height: 300px;
        }
    </style>

</head>
<body>
    <%- include('partials/header.ejs', {auth: auth, user: name}) %>
    
    <!-- carousel background -->
    <div class="slideshow home_slide">
        <img src="https://wallpaperaccess.com/full/268330.jpg" alt="hd working image" class="bg-slide-img bg-slide-img-one" id="bg-one">
        <img src="https://www.wallpapertip.com/wmimgs/68-682086_working-desk-with-blank-notepad-and-ready-to.jpg" alt="hd working image" class="bg-slide-img bg-slide-img-two" id="bg-two">

        <div class="intro-slide-text">
            <p class="intro-slide-text-one">Học lập trình với các khóa học chất lượng để đi làm! </p>
            <p class="intro-slide-text-two">CỘNG ĐỒNG HỌC LẬP TRÌNH <br>MIỄN PHÍ</p>
            <button class="slideshow-button slideshow-btn-courses">KHÓA HỌC</button>
            <button class="slideshow-button slideshow-btn-join">THAM GIA NGAY</button>
        </div>
        
    </div>

    <!-- badges -->
    <div class = "container" style = "margin-top: 30px; margin-bottom: 100px;">
        <div class = "row">
            <div class = "col">
                <img class="mx-auto d-block" src="images/student_icon.png" alt="student_icon" width="30%">
            </div>
            <div class = "col">
                <img class="mx-auto d-block" src="images/video_icon.png" alt="student_icon" width="30%">
            </div>
            <div class = "col">
                <img class="mx-auto d-block" src="images/clock_icon.png" alt="student_icon" width="30%">
            </div>
        </div>
        <div class = "row">
            <div class = "col d-flex justify-content-center" style="font-size: 20px;">
                Trên 15.058 học viên
            </div>
            <div class = "col d-flex justify-content-center" style="font-size: 20px;">
                130,000 khóa học trực tuyến
            </div>
            <div class = "col d-flex justify-content-center" style="font-size: 20px;">
                Học mọi lúc mọi nơi
            </div>
        </div>
    </div>

    <!-- search bar  -->
    <form style="margin: auto;" onsubmit="event.preventDefault();" role="search">
		<input id="search" type="search" placeholder="Search..." autofocus required />
		<button style="position: absolute; top: 0; right: 0; width: var(--btn-width); height: 100%; font-weight: bold; background: var(--color-brand); border-radius: 0 var(--rad) var(--rad) 0;" type="submit">Go</button>    
	</form>

    <!-- Hot courses -->
    <h2 style="text-align: center; font-weight: bold; margin-top: 100px;">Những khóa học nổi bật</h2>
    <div class="slider slider-products" style="width: 50%; margin:auto">
        <% for(var i=0; i < topCourses.length; i++) { %>
            <div class="top_img">
                <a href="courses/detail/<%= topCourses[i].CourseID %>"><img src="images/courses/<%= topCourses[i].CourseID %>.jpg" class="img-fluid mx-auto d-block" alt="img" style="width: 100%; height: 100%; border: 3px solid black; border-radius: 10px;"></a>
                <div style="position: absolute; top: 25px; right: 10px;"><span class="badge badge-secondary"><h3><%= topCourses[i].Name %></h3></span></div>
            </div>
            
        <% } %>
        <link rel="stylesheet" href="stylesheets/search_bar.css" type="text/css">
    </div>
    <div class="slider slider-nav" style="margin-left:100px; margin-right:100px;">
        <% for(var i=0; i < topCourses.length; i++) { %>
            <div class="slide_img"><img src="images/courses/<%= topCourses[i].CourseID %>.jpg" class="img-fluid mx-auto d-block" alt="img1" style="width: 100%; height: 100%; border: 1px solid black; border-radius: 5px;"></div>
        <% } %>
    </div>

    <!-- new courses -->
    <h2 style="text-align: center; font-weight: bold;">Những khóa học mới</h2>
    <div id="slider-slick-1" class="slider-slick" style="margin-left:100px; margin-right:100px;">
        <% for(var i=0; i < topNewest.length; i++) { %>
        <div class="card" style="margin: 10px; text-align: left; height:350px">
            <div style="width: 100%; height: 170px">
                <a href="courses/detail/<%= topNewest[i].CourseID %>"><img src="images/courses/<%= topNewest[i].CourseID %>.jpg" class="img-fluid mx-auto d-block size" style="position:relative; width: 100%; height: 100%; border: 3px solid black; border-radius: 5px;" alt="img1"></a>
                <div style="position: absolute; top: 25px; right: 10px;"><span class="badge badge-danger">FREE</span></div>
            </div>
            <div class="card-body" style="margin:10px; padding-top: 10px; padding-left: 0px; padding-right: 0px;">
                <% if (topNewest[i].Category == 1) { %>
                    <h5 class="card-title" style="color: black"><%= topNewest[i].Name %> <br> <span class="badge badge-info">Web</span></h5>
                <% } %>
                <% if (topNewest[i].Category == 2) { %>
                    <h5 class="card-title" style="color: black"><%= topNewest[i].Name %> <br> <span class="badge badge-warning">App</span></h5>
                <% } %>


                <p style="color:black;"><i class="fas fa-chalkboard-teacher"></i> <%= topNewest[i].Teacher %>&emsp; &emsp; <i class="fas fa-users"></i> <%= topNewest[i].NumberStudent %></p>

                <% for(var j=0; j < Math.round(topNewest[i].Preview); j++) { %>
                    <i class="fas fa-star" style="color: orange;"></i>
                <% } %>
                <% for(var j=0; j < 5 - Math.round(topNewest[i].Preview); j++) { %>
                    <i class="far fa-star" style="color: orange"></i>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>

    <!-- top viewed courses -->
    <h2 style="text-align: center; font-weight: bold;">Những khóa học được xem nhiều nhất</h2>
    <div id="slider-slick-2" class="slider-slick" style="margin-left:100px; margin-right:100px">
        <% for(var i=0; i < topView.length; i++) { %>
            <div class="card" style="margin: 10px; text-align: left; height:350px">
                <div style="width: 100%; height: 170px">
                    <a href="courses/detail/<%= topView[i].CourseID %>"><img src="images/courses/<%= topView[i].CourseID %>.jpg" class="img-fluid mx-auto d-block size" style="position:relative; width: 100%; height: 100%; border: 3px solid black; border-radius: 5px;" alt="img1"></a>
                    <div style="position: absolute; top: 25px; right: 10px;"><span class="badge badge-danger">FREE</span></div>
                </div>
                <div class="card-body" style="margin:10px; padding-top: 10px; padding-left: 0px; padding-right: 0px;">
                    <% if (topView[i].Category == 1) { %>
                        <h5 class="card-title" style="color: black"><%= topView[i].Name %> <br> <span class="badge badge-info">Web</span></h5>
                    <% } %>
                    <% if (topView[i].Category == 2) { %>
                        <h5 class="card-title" style="color: black"><%= topView[i].Name %> <br> <span class="badge badge-warning">App</span></h5>
                    <% } %>
    
                    <p style="color:black;"><i class="fas fa-chalkboard-teacher"></i> <%= topView[i].Teacher %>&emsp; &emsp; <i class="fas fa-users"></i> <%= topView[i].NumberStudent %></p>
    
                    <% for(var j=0; j < Math.round(topView[i].Preview); j++) { %>
                        <i class="fas fa-star" style="color: orange;"></i>
                    <% } %>
                    <% for(var j=0; j < 5 - Math.round(topView[i].Preview); j++) { %>
                        <i class="far fa-star" style="color: orange"></i>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>

    <!-- hot topics -->
    <h2 style="text-align: center; font-weight: bold;">Những chủ đề nổi bật</h2>
    <div class = "container" style = "margin-top: 30px; margin-bottom: 100px;">
        <div class = "row">
            <% for(var i=0; i < topCategory.length; i++) { %>
            <div class = "col">
                <% if (topCategory[i].Category == 1) { %>
                    <a href="/courses/it/web"><img class="mx-auto d-block" src="images/cate/<%= topCategory[i].Category %>.jpg" alt="category1" width="100%" height ="100%"></a>
                <% } %>
                <% if (topCategory[i].Category == 2) { %>
                    <a href="/courses/it/app"><img class="mx-auto d-block" src="images/cate/<%= topCategory[i].Category %>.jpg" alt="category1" width="100%" height ="100%"></a>
                <% } %>
            </div>
            <% } %>
        </div>
        <!-- <div class = "row" style="margin-top:30px">
            <div class = "col">
                <a href="#"><img class="mx-auto d-block" src="https://nordiccoder.com/app/uploads/2020/01/59-data-analysis.jpg" alt="category3" width="100%" height ="100%"></a>
            </div>
            <div class = "col">
                <a href="#"><img class="mx-auto d-block" src="images/ML.jpg" alt="category4" width="100%" height ="100%"></a>
            </div>
        </div> -->
    </div>

    <%- include('partials/footer.ejs') %>

    <!--Javascrip-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="javascripts/header_script.js"></script>
    <script type="text/javascript" src="javascripts/slide.js"></script>
</body>
</html>